!!! 5
html(lang='en')
  head
    title patchosaur
    meta(http-equiv="Content-Script-Type", content="text/javascript")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    // HTML5 shim, for IE6-8 support of HTML5 elements 
    //if lt IE 9
      script(src='//html5shim.googlecode.com/svn/trunk/html5.js')
    //

    if includeTests
      != css('tests')
    else
      != css('patchosaur')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .brand
            a(href='/') patchosaur
          ul.nav
            li
              a#help-link help (h)
            li
              a(href='http://patchosaur.org') about
            li
              a(href='https://github.com/badamson/patchosaur') github
            li
              a(href='/tests') tests
    != body
    // hr
    if includeTests
      != js('tests')
    else
      != js('app')
    script(src='/socket.io/socket.io.js')
